<!DOCTYPE html>
	<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
	    <meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <title>Login Form</title>
	    <link rel="stylesheet" href="/bootstrap.min.css">
	    <link rel="stylesheet" href="/bootstrap-icons.css">
	    <link rel="stylesheet" href="/form.css">
	</head>
	<body>
	    <div class="container mt-5">
	        <div class="row">
	            <div class="col-md-6 offset-md-3">
	                <h2 class="text-center">Login</h2>
	                <form th:action="@{/logged-in}" method="post">
	                    <div class="form-group">
	                        <label for="username">Username</label>
	                        <input type="text" class="form-control" id="username" name="username" required="required">
	                    </div>
	                    <div class="form-group">
	                        <label for="password">Password</label>
	                        <input type="password" class="form-control" id="password" name="password" required="required">
	                    </div>
	                    
	                    <button type="submit" class="btn btn-primary btn-block">Login</button>
	                    
	                    <a th:href="@{/}"><img src="back.png" alt="" width="30"></a>
	                    
	                    <div th:if="${error != null}" class="error-message">
    						<p th:text="${error}" style="color: red;" class="error"></p>
						</div>

	                </form>
	            </div>
	        </div>
	    </div>
	
	    <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
	    <script th:src="@{/webjars/popper.js/2.9.3/umd/popper.min.js}"></script>
	    <script th:src="@{/webjars/bootstrap/4.5.2/js/bootstrap.min.js}"></script>
	</body>
	</html>
	